// Colors
@purple: #9992C7;
@purple_dark: #7874B4;
@white: #FFFFFF;
@grey: #E8E8E8;
@grey_shadow: #B8B8B8;
@black: #1D1D1B;

// Fonts
@quicksand: "Quicksand";
@lato: "Lato";

// Texts
@text_normal: @lato, sans-serif;
@text_headers: @quicksand, @text_normal;

//Sizes
@size_bigger: 26px;
@size_big: 20px;
@size_normal: 16px;
@size_small: 14px;

@border_radius: 10px;

// Mixin for creating classes for colors
.set_color(@name, @color) {
    .text-@{name} {
        color: @color;
    }
    .background-@{name} {
        background-color: @color;
    }
}

// Creating a class for social media classes
.set_color(facebook, #1876F2);
.set_color(instagram, #C32AA3);
.set_color(linkedin, #0E76A8);
.set_color(pinterest, #C8232C);
.set_color(twitter, #00ACEE);

.set_color(error, #FF492B);
.set_color(success, #22CF49);

// Creating classes for normal colors
.set_color(white, @white);
.set_color(black, @black);
.set_color(grey, @grey);


// Mixin for creating padding and margin classes in CSS
.spacing(@type, @prefix, @distance) {
    .@{prefix}-@{distance} {
            @{type}: @distance*1px;
    }
    .@{prefix}t-@{distance} {
            @{type}-top: @distance*1px;
    }
    .@{prefix}b-@{distance} {
            @{type}-bottom: @distance*1px;
    }
    .@{prefix}l-@{distance} {
            @{type}-left: @distance*1px;
    }
    .@{prefix}r-@{distance} {
            @{type}-right: @distance*1px;
    }
    .@{prefix}x-@{distance} {
            @{type}-left: @distance*1px;
            @{type}-right: @distance*1px;
    }
    .@{prefix}y-@{distance} {
            @{type}-top: @distance*1px;
            @{type}-bottom: @distance*1px;
    }
}

// Loop that starts at 100 and counts down to zero per 10
.loop(@counter) when (@counter > 0) {
    .spacing(padding, p, @counter);
    .spacing(margin, m, @counter);
    .loop((@counter - 10)); // next iteration
}

// Init loop
.loop(100);


.spacing(padding, p, 5);
.spacing(margin, m, 5);

.spacing(padding, p, 0);
.spacing(margin, m, 0);

.item(@name, @type) {
    .@{name}-@{type} {
            @{name}: @type;
    }
}

.item(@prefix, @name, @type) {
    .@{prefix}-@{type} {
            @{name}: @type;
    }
}

// Display
.item(d, display, block);
.item(d, display, none);
.item(d, display, flex);

.item(justify-content, center);
.item(justify-content, left);
.item(justify-content, right);
.item(justify-content, start);
.item(justify-content, end);

.item(align-items, center);
.item(align-items, left);
.item(align-items, right);
.item(align-items, start);
.item(align-items, end);

* { box-sizing: border-box; }

body {
    color: @black;
    background-color: @white;
    font-family: @text_normal;
    font-size: @size_normal;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: @black;
    font-family: @text_headers;
    font-weight: bold;
    margin: 0;
}

p { margin: 0; }

a {
    font-family: @text_headers;
    text-decoration: none;
}

img { width: 100%; }

.special { font-family: @text_headers; }

.circle { border-radius: 1000px; }

.rounded {
    border-radius: @border_radius;

    &.small {
        border-radius: @border_radius - 2px;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    // Larger than mobile
    @media (min-width: 400px) {
        max-width: 360px;
    }

    // Larger than phablet
    @media (min-width: 550px) {
        max-width: 510px;
    }

    // Larger than tablet
    @media (min-width: 750px) {
        max-width: 710px;
    }

    // Larger than desktop
    @media (min-width: 1000px) {
        max-width: 960px;
    }

    // Larger than Desktop HD
    @media (min-width: 1200px) {
        max-width: 1160px;
    }

    &.small {

        // Larger than phablet
        @media (min-width: 550px) {
            max-width: 350px;
        }

        // Larger than tablet
        @media (min-width: 750px) {
            max-width: 550px;
        }

        // Larger than desktop
        @media (min-width: 1000px) {
            max-width: 800px;
        }

        // Larger than Desktop HD
        @media (min-width: 1200px) {
            max-width: 1000px;
        }
    }
}

.badge {
    display: flex;

    & .icon {
        background-size: cover;
        font-size: @size_bigger;
        font-style: normal;
        text-align: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 100%;
        display: block;
    }

    & .text {
        font-size: @size_small;
        text-decoration: none;
        line-height: 40px;
        margin-left: 5px;
        display: flex;
    }

    &.small {
        & .icon {
            font-size: @size_big;
            width: 20px;
            height: 20px;
            line-height: 20px;
        }

        & .text {
            font-size: @size_small;
            line-height: 20px;
            margin-left: 5px;
        }
    }
}

.box {
    background-color: @white;
    border-radius: @border_radius;
    transition: 0.5s;

    &.no-overflow {
        overflow: hidden;
    }
}

.shadow { box-shadow: 0 0 5px @grey_shadow; }

.loader {
    background-color: @white;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;

    & .icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 100%;

        & i {

        }
    }

    &.hidden {
        opacity: 0;
        z-index: -1;
    }
}

//& .icon,
//& .link {
//    line-height: 30px;
//    height: 30px;
//    display: block;
//}
//
//& .icon {
//    background-size: cover;
//    font-size: 18px;
//    font-style: normal;
//    text-align: center;
//    line-height: 30px;
//    width: 30px;
//    height: 30px;
//    border-radius: 100%;
//    display: block;
//}
//
//& .link {
//    color: @white;
//    font-size: @size_normal;
//    text-decoration: none;
//    margin-left: 5px;
//    display: flex;
//
//    &:first-child {
//        margin: 0;
//    }
//}

.main { transition: 0.5s; }

#load-view {
    &.hidden {
        opacity: 0;
    }
}

#grid-view {
    padding: 20px;

    &.hidden {
        //opacity: 0;
        & .container {
            & .posts {
                & a.post-link,
                & a.post-link:hover {
                    padding: 100px;
                    opacity: 0;

                    & .post .credits {
                        display: none;
                    }

                    &.active {
                        padding: inherit;
                        transition: 1.5s;
                    }
                }
            }
        }
    }

    // Larger than phablet
    @media (min-width: 550px) {
        padding: 40px;
    }

    // Larger than desktop
    @media (min-width: 1000px) {
        padding: 60px;
    }

    & .container {
        & .posts {
            width: 100%;
            max-width: 1160px;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            transition: 0.5s;

            & a.post-link {
                padding: 5px;
                transition: 0.5s;
                //    width: 33.3333333333%;
                //    height: 33.3333333333%;

                &:hover {
                    opacity: 0.4;
                    cursor: pointer;
                    padding: 10px;
                }

                width: 50%;
                height: 50%;

                // Larger than mobile
                @media (min-width: 400px) {
                    width: 50%;
                    height: 50%;
                }

                // Larger than phablet
                @media (min-width: 550px) {
                    width: 33.3333333333%;
                    height: 33.3333333333%;
                }

                // Larger than desktop
                @media (min-width: 1000px) {
                    width: 25%;
                    height: 25%;
                }

                // Larger than Desktop HD
                @media (min-width: 1200px) {
                    width: 20%;
                    height: 20%;
                }

                & .post {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    & .preview {
                        color: @black;
                        background-color: @white;
                        background-size: cover;
                        width: 100%;
                        height: 100%;
                        transition: 0.5s;

                        & .image {
                            color: @black;
                            background-color: @white;
                            background-size: cover;
                            background-position: center;
                            padding-bottom: 100%;
                        }

                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    & .item {
                        display: flex;
                        position: absolute;

                        &.left {
                            left: 0;
                        }

                        &.right {
                            right: 0;
                        }

                        &.top {
                            top: 0;
                        }

                        &.bottom {
                            bottom: 0;
                        }
                    }

                    & .post-details {
                        height: 0;
                        overflow: hidden;
                        transition: 1s;
                    }

                    & .credits {
                        background-image: linear-gradient(rgba(0, 0, 0, 0), @black);
                        width: 100%;
                        height: 100%;
                        display: flex;
                        border-radius: @border_radius;
                        position: absolute;
                        top: 0;
                        transition: 1s;
                    }
                }
            }
        }
    }
}

#post-view {
    width: 100vw;
    opacity: 1;

    // Larger than phablet
    @media (min-width: 550px) {
        min-height: 100vh;
        height: auto;
    }

    &.hidden {
        opacity: 0;
    }

    &.portrait .post-content {
        flex-direction: column;
    }

    &.landscape .post-content {
        flex-direction: row;
    }

    & .container {
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;

        & .post-container {
            & .close {
                & a {
                    color: @black;
                    text-decoration: none;
                    line-height: 20px;
                }
            }

            & .post {
                & .post-content {
                    display: flex;
                    //flex-direction: column;

                    & .preview {
                        & img {
                            // Larger than desktop
                            @media (min-width: 1000px) {
                                width: auto;
                                max-width: 400px;
                                max-height: 400px;

                            }
                        }
                    }

                    & .details {

                        & .description {
                            width: 100%;
                            min-width: 300px;


                            // Larger than mobile
                            @media (min-width: 400px) {
                            }

                            // Larger than phablet
                            @media (min-width: 550px) {
                            }

                            // Larger than desktop
                            @media (min-width: 1000px) {
                                max-width: 300px;
                            }

                            // Larger than Desktop HD
                            @media (min-width: 1200px) {
                                max-width: 400px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    & .post {
        width: 50%;
        padding-bottom: 50%;
        position: relative;

        // Larger than mobile
        @media (min-width: 400px) {
            width: 50%;
            padding-bottom: 50%;
        }

        // Larger than phablet
        @media (min-width: 550px) {
            width: 33.3333333333%;
            padding-bottom: 33.3333333333%;
        }

        // Larger than desktop
        @media (min-width: 1000px) {
            width: 25%;
            padding-bottom: 25%;
        }

        // Larger than Desktop HD
        @media (min-width: 1200px) {
            width: 20%;
            padding-bottom: 20%;
        }

        & a.post-link {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;

            & .frame {
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: @border_radius;
                overflow: hidden;

                & > div {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }

                & .media {
                    background-color: @black;
                    background-size: cover;
                    background-position: center;
                }

                & .overlay {
                    color: @white;
                    background-color: fade(@black, 30%);
                    width: 100%;
                    height: 100%;
                    padding: 10px;

                    & .icon {
                        font-size: @size_big;
                        text-align: center;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        border-radius: 5px;
                        object-fit: cover;
                        display: block;
                    }

                    & .content {
                        width: 100%;
                        height: 100%;
                        position: relative;

                        & .platform {
                            position: absolute;
                            top: 0;
                            right: 0;
                        }

                        & .user {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

#single-post {
    & .overlay .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-height: 100vh;
    }

    & .post {
        background-color: @grey;
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
        border-radius: @border_radius;

        .back {
            margin-bottom: -50px;
            position: relative;
            z-index: 999;

            & a {
                color: @white;
                font-size: 20px;
                width: 50px;
                line-height: 50px;
                height: 50px;
                text-align: center;
                display: block;
            }
        }

        & .media-item {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &.qr {
                background-color: @grey;
                border-radius: @border_radius;
                & > div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    & span {
                        font-family: @text_headers;
                        padding-top: 20px;
                    }
                }
            }

            & > * {
                width: 100%;
                border-radius: @border_radius;
            }

            & svg {
                width: 200px;
                border-radius: 0;
            }
        }

        .owl-nav, .owl-dots {
            display: none;
        }

        & .owl-stage {
            display: flex;
        }

        & .below {
            padding: 15px;
        }

        & .user {
            display: flex;
            justify-content: space-between;

            & .badge {
                display: flex;
                line-height: 50px;

                & img {
                    width: 50px;
                    height: 50px;
                    border-radius: @border_radius;
                    object-fit: cover;
                }

                & p {
                    color: @black;
                    font-size: @size_big;
                    margin-left: 15px;
                }
            }
            & .qr {
                width: 50px;
                height: 50px;
            }
        }

        & .content {
            padding-top: 10px;
        }

        & .items {
            padding-top: 20px;

            & .item {
                display: flex;
                line-height: 30px;

                & i {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: @size_big;
                }
            }
        }
    }
}