.text-facebook {
  color: #1876F2;
}
.background-facebook {
  background-color: #1876F2;
}
.text-instagram {
  color: #C32AA3;
}
.background-instagram {
  background-color: #C32AA3;
}
.text-linkedin {
  color: #0E76A8;
}
.background-linkedin {
  background-color: #0E76A8;
}
.text-pinterest {
  color: #C8232C;
}
.background-pinterest {
  background-color: #C8232C;
}
.text-twitter {
  color: #00ACEE;
}
.background-twitter {
  background-color: #00ACEE;
}
.text-error {
  color: #FF492B;
}
.background-error {
  background-color: #FF492B;
}
.text-success {
  color: #22CF49;
}
.background-success {
  background-color: #22CF49;
}
.text-white {
  color: #FFFFFF;
}
.background-white {
  background-color: #FFFFFF;
}
.text-black {
  color: #1D1D1B;
}
.background-black {
  background-color: #1D1D1B;
}
.text-grey {
  color: #E8E8E8;
}
.background-grey {
  background-color: #E8E8E8;
}
.p-100 {
  padding: 100px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pl-100 {
  padding-left: 100px;
}
.pr-100 {
  padding-right: 100px;
}
.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}
.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.m-100 {
  margin: 100px;
}
.mt-100 {
  margin-top: 100px;
}
.mb-100 {
  margin-bottom: 100px;
}
.ml-100 {
  margin-left: 100px;
}
.mr-100 {
  margin-right: 100px;
}
.mx-100 {
  margin-left: 100px;
  margin-right: 100px;
}
.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.p-90 {
  padding: 90px;
}
.pt-90 {
  padding-top: 90px;
}
.pb-90 {
  padding-bottom: 90px;
}
.pl-90 {
  padding-left: 90px;
}
.pr-90 {
  padding-right: 90px;
}
.px-90 {
  padding-left: 90px;
  padding-right: 90px;
}
.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.m-90 {
  margin: 90px;
}
.mt-90 {
  margin-top: 90px;
}
.mb-90 {
  margin-bottom: 90px;
}
.ml-90 {
  margin-left: 90px;
}
.mr-90 {
  margin-right: 90px;
}
.mx-90 {
  margin-left: 90px;
  margin-right: 90px;
}
.my-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}
.p-80 {
  padding: 80px;
}
.pt-80 {
  padding-top: 80px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pl-80 {
  padding-left: 80px;
}
.pr-80 {
  padding-right: 80px;
}
.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.m-80 {
  margin: 80px;
}
.mt-80 {
  margin-top: 80px;
}
.mb-80 {
  margin-bottom: 80px;
}
.ml-80 {
  margin-left: 80px;
}
.mr-80 {
  margin-right: 80px;
}
.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}
.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.p-70 {
  padding: 70px;
}
.pt-70 {
  padding-top: 70px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pl-70 {
  padding-left: 70px;
}
.pr-70 {
  padding-right: 70px;
}
.px-70 {
  padding-left: 70px;
  padding-right: 70px;
}
.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.m-70 {
  margin: 70px;
}
.mt-70 {
  margin-top: 70px;
}
.mb-70 {
  margin-bottom: 70px;
}
.ml-70 {
  margin-left: 70px;
}
.mr-70 {
  margin-right: 70px;
}
.mx-70 {
  margin-left: 70px;
  margin-right: 70px;
}
.my-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.p-60 {
  padding: 60px;
}
.pt-60 {
  padding-top: 60px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pl-60 {
  padding-left: 60px;
}
.pr-60 {
  padding-right: 60px;
}
.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}
.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.m-60 {
  margin: 60px;
}
.mt-60 {
  margin-top: 60px;
}
.mb-60 {
  margin-bottom: 60px;
}
.ml-60 {
  margin-left: 60px;
}
.mr-60 {
  margin-right: 60px;
}
.mx-60 {
  margin-left: 60px;
  margin-right: 60px;
}
.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.p-50 {
  padding: 50px;
}
.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pl-50 {
  padding-left: 50px;
}
.pr-50 {
  padding-right: 50px;
}
.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}
.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.m-50 {
  margin: 50px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-50 {
  margin-left: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.mx-50 {
  margin-left: 50px;
  margin-right: 50px;
}
.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.p-40 {
  padding: 40px;
}
.pt-40 {
  padding-top: 40px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pl-40 {
  padding-left: 40px;
}
.pr-40 {
  padding-right: 40px;
}
.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.m-40 {
  margin: 40px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ml-40 {
  margin-left: 40px;
}
.mr-40 {
  margin-right: 40px;
}
.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}
.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.p-30 {
  padding: 30px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pl-30 {
  padding-left: 30px;
}
.pr-30 {
  padding-right: 30px;
}
.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.m-30 {
  margin: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.ml-30 {
  margin-left: 30px;
}
.mr-30 {
  margin-right: 30px;
}
.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}
.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.p-20 {
  padding: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.m-20 {
  margin: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.p-10 {
  padding: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.m-10 {
  margin: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.p-5 {
  padding: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pl-5 {
  padding-left: 5px;
}
.pr-5 {
  padding-right: 5px;
}
.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.m-5 {
  margin: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.p-0 {
  padding: 0px;
}
.pt-0 {
  padding-top: 0px;
}
.pb-0 {
  padding-bottom: 0px;
}
.pl-0 {
  padding-left: 0px;
}
.pr-0 {
  padding-right: 0px;
}
.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.m-0 {
  margin: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
.ml-0 {
  margin-left: 0px;
}
.mr-0 {
  margin-right: 0px;
}
.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-left {
  justify-content: left;
}
.justify-content-right {
  justify-content: right;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-end {
  justify-content: end;
}
.align-items-center {
  align-items: center;
}
.align-items-left {
  align-items: left;
}
.align-items-right {
  align-items: right;
}
.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: end;
}
* {
  box-sizing: border-box;
}
body {
  color: #1D1D1B;
  background-color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1D1D1B;
  font-family: "Quicksand", "Lato", sans-serif;
  font-weight: bold;
  margin: 0;
}
p {
  margin: 0;
}
a {
  font-family: "Quicksand", "Lato", sans-serif;
  text-decoration: none;
}
img {
  width: 100%;
}
.special {
  font-family: "Quicksand", "Lato", sans-serif;
}
.circle {
  border-radius: 1000px;
}
.rounded {
  border-radius: 10px;
}
.rounded.small {
  border-radius: 8px;
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 400px) {
  .container {
    max-width: 360px;
  }
}
@media (min-width: 550px) {
  .container {
    max-width: 510px;
  }
}
@media (min-width: 750px) {
  .container {
    max-width: 710px;
  }
}
@media (min-width: 1000px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}
@media (min-width: 550px) {
  .container.small {
    max-width: 350px;
  }
}
@media (min-width: 750px) {
  .container.small {
    max-width: 550px;
  }
}
@media (min-width: 1000px) {
  .container.small {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .container.small {
    max-width: 1000px;
  }
}
.badge {
  display: flex;
}
.badge .icon {
  background-size: cover;
  font-size: 26px;
  font-style: normal;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  display: block;
}
.badge .text {
  font-size: 14px;
  text-decoration: none;
  line-height: 40px;
  margin-left: 5px;
  display: flex;
}
.badge.small .icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.badge.small .text {
  font-size: 14px;
  line-height: 20px;
  margin-left: 5px;
}
.box {
  background-color: #FFFFFF;
  border-radius: 10px;
  transition: 0.5s;
}
.box.no-overflow {
  overflow: hidden;
}
.shadow {
  box-shadow: 0 0 5px #B8B8B8;
}
.loader {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
}
.loader .icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
}
.loader.hidden {
  opacity: 0;
  z-index: -1;
}
.main {
  transition: 0.5s;
}
#load-view.hidden {
  opacity: 0;
}
#grid-view {
  padding: 20px;
}
#grid-view.hidden .container .posts a.post-link,
#grid-view.hidden .container .posts a.post-link:hover {
  padding: 100px;
  opacity: 0;
}
#grid-view.hidden .container .posts a.post-link .post .credits,
#grid-view.hidden .container .posts a.post-link:hover .post .credits {
  display: none;
}
#grid-view.hidden .container .posts a.post-link.active,
#grid-view.hidden .container .posts a.post-link:hover.active {
  padding: inherit;
  transition: 1.5s;
}
@media (min-width: 550px) {
  #grid-view {
    padding: 40px;
  }
}
@media (min-width: 1000px) {
  #grid-view {
    padding: 60px;
  }
}
#grid-view .container .posts {
  width: 100%;
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transition: 0.5s;
}
#grid-view .container .posts a.post-link {
  padding: 5px;
  transition: 0.5s;
  width: 50%;
  height: 50%;
}
#grid-view .container .posts a.post-link:hover {
  opacity: 0.4;
  cursor: pointer;
  padding: 10px;
}
@media (min-width: 400px) {
  #grid-view .container .posts a.post-link {
    width: 50%;
    height: 50%;
  }
}
@media (min-width: 550px) {
  #grid-view .container .posts a.post-link {
    width: 33.33333333%;
    height: 33.33333333%;
  }
}
@media (min-width: 1000px) {
  #grid-view .container .posts a.post-link {
    width: 25%;
    height: 25%;
  }
}
@media (min-width: 1200px) {
  #grid-view .container .posts a.post-link {
    width: 20%;
    height: 20%;
  }
}
#grid-view .container .posts a.post-link .post {
  width: 100%;
  height: 100%;
  position: relative;
}
#grid-view .container .posts a.post-link .post .preview {
  color: #1D1D1B;
  background-color: #FFFFFF;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
#grid-view .container .posts a.post-link .post .preview .image {
  color: #1D1D1B;
  background-color: #FFFFFF;
  background-size: cover;
  background-position: center;
  padding-bottom: 100%;
}
#grid-view .container .posts a.post-link .post .preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#grid-view .container .posts a.post-link .post .item {
  display: flex;
  position: absolute;
}
#grid-view .container .posts a.post-link .post .item.left {
  left: 0;
}
#grid-view .container .posts a.post-link .post .item.right {
  right: 0;
}
#grid-view .container .posts a.post-link .post .item.top {
  top: 0;
}
#grid-view .container .posts a.post-link .post .item.bottom {
  bottom: 0;
}
#grid-view .container .posts a.post-link .post .post-details {
  height: 0;
  overflow: hidden;
  transition: 1s;
}
#grid-view .container .posts a.post-link .post .credits {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #1D1D1B);
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  position: absolute;
  top: 0;
  transition: 1s;
}
#post-view {
  width: 100vw;
  opacity: 1;
}
@media (min-width: 550px) {
  #post-view {
    min-height: 100vh;
    height: auto;
  }
}
#post-view.hidden {
  opacity: 0;
}
#post-view.portrait .post-content {
  flex-direction: column;
}
#post-view.landscape .post-content {
  flex-direction: row;
}
#post-view .container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
#post-view .container .post-container .close a {
  color: #1D1D1B;
  text-decoration: none;
  line-height: 20px;
}
#post-view .container .post-container .post .post-content {
  display: flex;
}
@media (min-width: 1000px) {
  #post-view .container .post-container .post .post-content .preview img {
    width: auto;
    max-width: 400px;
    max-height: 400px;
  }
}
#post-view .container .post-container .post .post-content .details .description {
  width: 100%;
  min-width: 300px;
}
@media (min-width: 1000px) {
  #post-view .container .post-container .post .post-content .details .description {
    max-width: 300px;
  }
}
@media (min-width: 1200px) {
  #post-view .container .post-container .post .post-content .details .description {
    max-width: 400px;
  }
}
.posts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.posts .post {
  width: 50%;
  padding-bottom: 50%;
  position: relative;
}
@media (min-width: 400px) {
  .posts .post {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media (min-width: 550px) {
  .posts .post {
    width: 33.33333333%;
    padding-bottom: 33.33333333%;
  }
}
@media (min-width: 1000px) {
  .posts .post {
    width: 25%;
    padding-bottom: 25%;
  }
}
@media (min-width: 1200px) {
  .posts .post {
    width: 20%;
    padding-bottom: 20%;
  }
}
.posts .post a.post-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.posts .post a.post-link .frame {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.posts .post a.post-link .frame > div {
  width: 100%;
  height: 100%;
  position: absolute;
}
.posts .post a.post-link .frame .media {
  background-color: #1D1D1B;
  background-size: cover;
  background-position: center;
}
.posts .post a.post-link .frame .overlay {
  color: #FFFFFF;
  background-color: rgba(29, 29, 27, 0.3);
  width: 100%;
  height: 100%;
  padding: 10px;
}
.posts .post a.post-link .frame .overlay .icon {
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  object-fit: cover;
  display: block;
}
.posts .post a.post-link .frame .overlay .content {
  width: 100%;
  height: 100%;
  position: relative;
}
.posts .post a.post-link .frame .overlay .content .platform {
  position: absolute;
  top: 0;
  right: 0;
}
.posts .post a.post-link .frame .overlay .content .user {
  position: absolute;
  bottom: 0;
  left: 0;
}
#single-post .overlay .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}
#single-post .post {
  background-color: #E8E8E8;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}
#single-post .post .back {
  margin-bottom: -50px;
  position: relative;
  z-index: 999;
}
#single-post .post .back a {
  color: #FFFFFF;
  font-size: 20px;
  width: 50px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  display: block;
}
#single-post .post .media-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#single-post .post .media-item.qr {
  background-color: #E8E8E8;
  border-radius: 10px;
}
#single-post .post .media-item.qr > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#single-post .post .media-item.qr > div span {
  font-family: "Quicksand", "Lato", sans-serif;
  padding-top: 20px;
}
#single-post .post .media-item > * {
  width: 100%;
  border-radius: 10px;
}
#single-post .post .media-item svg {
  width: 200px;
  border-radius: 0;
}
#single-post .post .owl-nav,
#single-post .post .owl-dots {
  display: none;
}
#single-post .post .owl-stage {
  display: flex;
}
#single-post .post .below {
  padding: 15px;
}
#single-post .post .user {
  display: flex;
  justify-content: space-between;
}
#single-post .post .user .badge {
  display: flex;
  line-height: 50px;
}
#single-post .post .user .badge img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}
#single-post .post .user .badge p {
  color: #1D1D1B;
  font-size: 20px;
  margin-left: 15px;
}
#single-post .post .user .qr {
  width: 50px;
  height: 50px;
}
#single-post .post .content {
  padding-top: 10px;
}
#single-post .post .items {
  padding-top: 20px;
}
#single-post .post .items .item {
  display: flex;
  line-height: 30px;
}
#single-post .post .items .item i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
}
